<table>
  <tr>
    <th>Rank</th>
    <th>MMR</th>
    <th>Race</th>
    <th>Name</th>
    <th>W|L|D</th>
    <th>Ratio</th>
    <th>Longest Win Streak</th>
    <th>Latest Match</th>
  </tr>
<% @players.each_with_index do |player, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= player["rating"] %></td>
    <td><%= race(player) %> </td>
    <td><%= name(player) %> </td>
    <td><%= win_loss_draw(player) %></td>
    <td><%= ratio(player) %></td>
    <td><%= player["longest_win_streak"] %></td>
    <td></td>
  </tr>
<% end %>
</table>
