<table>
  <tr>
    <th>Rank</th>
    <th>Region</th>
    <th>Name</th>
    <th>Race</th>
    <th>Wins/Losses</th>
    <th>Ratio</th>
    <th>Points</th>
    <th>Latest Match</th>
  </tr>
<% @ladder_data["ladderMembers"].each_with_index do |player, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= region(player['character']['realm'])%></td>
    <td><%= clanName(player) + player["character"]["displayName"]%></td>
    <td><%= player["favoriteRaceP1"]%></td>
    <td><%= player["wins"]%>/<%= player["losses"]%></td>
    <td><%= ratio(player) %></td>
    <td><%= player["points"]%></td>
    <td></td>
  </tr>
<% end %>
</table>
